body {
    background-color: #E4E2DD;
}

nav ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #9d947e;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav a:hover {
    color: black;
}

.logohome {
    margin: -45px 0 0 -50px;
    width: 130%;
    display: block; 
}

.inhetkorttekst {
    width: 90%;
    height: auto;
    margin: -110px 0 -28px -7px;
}

.inhetkort {
    color: white;
    line-height: 1,5;
    font-size: 18px;
    font-weight: 400;
    margin: -120px 90px 0px -110px;
    padding: 0px;
    text-align: justify;
    display: inline-block;
    border-radius: 18px;
    margin: -94px 29px 0 27px;
    padding: 10px, 2px, 5px, 2px;
    border: 25px solid #B66643;
    background-color: #B66643;
}

.stoelfotohome, .sfeerfotohome {
    width: 48%;
    position: absolute;
    height: auto;
}

.stoelfotohome {
    margin: -40px 0 50px 8px;
}

.sfeerfotohome {
    margin: 9px 0 0 -180px;
    padding-bottom: 20px;
}
.omglogoindex {
    width: 50%;
    position: relative;
    margin: -70px 0 50px 170px;
}

.omglogoduurzaam, .omglogoabout, .omglogobrands {
    width: 40%;
    position: absolute;
    margin: -30px 0 0 -30px;
}

.fotoduurzaam1, .fotoduurzaam2 {
    width: 55%;
    position: absolute;
    height: auto;
}

.fotoduurzaam1 {
    margin-left: -50px;
    margin-top: 50px;
}

.fotoduurzaam2 {
    margin-left: 123px;
    margin-top: 30px;
}

.duurzaamtekst {
    position: relative;
    width: 85%;
    margin: 198px 0 0 -33px;
}

.waaromduurzaam {
    width: 100%;
    padding: 0px;
    margin: -180px 0 0 18px;
}

.duurzaamtekst1, .duurzaamtekst2 {
    color: white;
    line-height: 1.2;
    font-size: 16.5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    display: inline-block;
    position: relative;
    border: 22px solid #763523;
    background-color: #763523;
    border-radius: 18px;
}

.duurzaamtekst1 {
    margin: -148px 20px 0 20px;
}

.duurzaamtekst2 {
    position: relative;
    top: -167px;
    margin: 0 25px -30px 100px;
}

.fotoduurzaam3 {
    width: 100%;
    margin: -266px 0 0 -25px;
}

.icoonblaadje {
    position: relative;
    width: 60%;
    margin: -70px 0 0 160px;
}

.icoonblaadje2 {
    position: relative;
    width: 51%;
    margin: 0 0 -160px -42px;
    top: -433px;
}

.abouttekst {
    position: absolute;
    width: 90%;
    height: auto;
    margin-top: 100px;
    margin-left: -108px;
}

.vintage, .vintageuitleg {
    position: absolute;
    display: inline-block;
    border: 12px solid #B66643;
    background-color: #B66643;
    color: white;
    border-radius: 18px;
}

.vintage {
    font-style: italic;
    font-size: 24px;
    top: 120px;
    padding: 0 5px 13px 8px;
    margin-left: 123px;
}

.vintageuitleg {
    font-size: 17px;
    margin: 165px 25px 0 123px;
    border-radius: 0 0 18px 18px;
    padding-left: 10px;
}

.fotoabout1 {
    position: absolute;
    width: 62.5%;
    margin: 236px 0 0 116px;
}

.waaromvintage {
    width: 73%;
    margin: 383.5px 0 0 66px;
}

.uniekestijl {
    position: absolute;
    display: inline-block;
    border: 12px solid #B66643;
    background-color: #B66643;
    color: white;
    border-radius: 18px;
    margin: 0 24px 0 12px;
    top: 542px;
}

.uniekestijl h2 {
    font-size: 27px;
    margin: 10px 0 0 154px;
    padding-bottom: 7px;
}

.uniekestijl p {
    text-align: right;
    font-size: 16.5px;
    margin: 0 10px 0 0;
    padding-bottom: 10px;
}



.andbrands1, .andbrands2, .andbrands3, .andbrands4, .andbrands5 {
    width: 100%;
}
